name: Sync Siemens iot2050 repo
on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * *'
  #watch:
  #  types: started
  repository_dispatch:
    types: sync-repo
jobs:
  repo-sync:
    env:
      PAT: ${{ secrets.PAT }}
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: sync iot2050 repo
        uses: repo-sync/github-sync@v2
        if: env.PAT
        with:
          source_repo: "https://github.com/siemens/meta-iot2050.git"
          source_branch: "su/snapshot-limit"
          destination_branch: "su/snapshot-limit"
          github_token: ${{ secrets.PAT }}
